

/* ==========================================================================
   custom styles
   ========================================================================== */


#fpLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fpCopyright {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

footer {
    margin-top: 10%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#repHeader {
    text-align: center;
}

#repParagraph {
    text-align: center;
}

#repLogo {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

#formContainer {
    margin-left: auto;
    margin-right: auto;
}



#myForm {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#repFooter {
    margin-top: 5%;
  min-height: 50px;
    background-color: #333333;
}

#repCopyright {
   padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: white;
    text-align: center;
}

#ErrorHeader {
        text-align: center;
  
}

#ErrorBody {
      text-align: center;
}
